sudo: required
services:
  - docker

before_install:
  - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service account --key-file service-account.json
  - gcloud config set project axial-silicon-286706
  - gcloud config set compute/zone europe-west3-a
  - gcloud container clusters get-credentials zronet-dr-cluster-dev
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t zronet/zronet-dr-auth -f Dockerfile.dev .

script:
  - docker run zronet/zronet-dr-gh npm run test -- --coverage
